extends layout

block content
	script(type="text/javascript", src="js/index.js")
	#fullpage
		#section0.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') WebRTC Hacks
				h2(style='margin: 70px 0 10px 0;font-size: 300%') #make
		#section2.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') 
					a(href="/room?roomid=test" target="_blank") Real Time Video Collaboration
				br
				br