extends layout

block content
	script(type="text/javascript", src="js/index.js")
	#fullpage
		#section0.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') x-message 
				h2(style='margin: 70px 0 10px 0;font-size: 300%') #hackx
		#section2.section
			.intro
				h1(style='margin: 70px 0 10px 0;color:white;') Choose a room
				br
				br
				br
				form(method="get", action="/room")
					input(type='search', action='/search', name='roomid', placeholder='Room', style='width: 500px; height: 44px ;font-size: 150%')