extends layout

block content
	script(type="text/javascript", src="/js/home.js")
	#fullpage
		#section1.section
			.intro
			h1 Select your board!
			a(href="/editor/zg")
				img(style='margin: 70px 0 10px 0;',src="http://www.silabs.com/SiteCollectionImages/Misc/zero-gecko-icon.png")
			a(href="/editor/tg")
				img(style='margin: 70px 0 10px 0;',src="http://www.silabs.com/SiteCollectionImages/Misc/tiny-gecko-icon.png")
			a(href="/editor/og")
				img(style='margin: 70px 0 10px 0;',src="http://www.silabs.com/SiteCollectionImages/Misc/gecko-icon.png")
			a(href="/editor/lg")
				img(style='margin: 70px 0 10px 0;', src="http://www.silabs.com/SiteCollectionImages/Misc/leopard-gecko-icon.png")
			a(href="/editor/gg")
				img(style='margin: 70px 0 10px 0;',src="http://www.silabs.com/SiteCollectionImages/Misc/giant-gecko-icon.png")
			a(href="/editor/wg")
				img(style='margin: 70px 0 10px 0;',src="http://www.silabs.com/SiteCollectionImages/Misc/wonder-gecko-icon.png")